<html>

<head>
    <title>Zaboravljena sifra</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Eczar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/index/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

</head>

<body>
    <!--<div class="header">

    </div>-->

    <div class="mainanan">
        <div id="login-message"></div>
        <div class="bloomora"><a href="/"><img src="/img/index/arrow.png"></a></div>
        <div class="loginbox" style="height: 300px">
            <div class="login-naslov">Unesi e-mail:</div>

            <form method="" action="/" id="forgotPass">

                <label class="form-label" name="email">Email:</label>
                <input class="form-input" type="text" placeholder="Unesi email" value="" name="email" id="email"
                       required="required" /> <br>

                <button type="submit" class="form-log-btn">Posalji</button><br />
            </form>
        </div>
    </div>
    <!-- <div class="footer">

    </div>-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/js/changePass.js"></script>

</body>

</html>