* {
    margin: auto;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    box-sizing: border-box;
}

.main {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../img/index/povrce.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

.nav {
    padding: 4px 76px;
}

ul { /* pozicija navbara */
    float: left;
    list-style-type: none;
    margin-top: 43px;
}

    ul li {
        display: inline-block;
    }

        ul li a { /* izgled navbara */
            text-decoration: none;
            color: #e6e3e4;
            padding: 5px 20px;
            padding-left: 15px;
            border: 1px solid #fff transparent;
            text-shadow: 2px 2px 5px #000;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
        }

            ul li a:hover { /* ponašanje navbara 'on-click' */
                transition: 1s ease; /* brzina mijenjanja 'on-click' */
                background-color: #4f6e3b;
                border-radius: 30px;
            }

        ul li.active a { /* aktivan je dio navbara za poèetnu stranicu */
            background-color: #7cb865;
            border-radius: 30px;
        }

.slikica img { /* podešavanje slike u gornjem desnom uglu */
    float: right;
    width: 35px;
    height: auto;
    margin-top: 15px;
}

.logo img {
    width: 50px;
    float: right;
    margin-top: 34px;
}

.kartice-galerija {
    margin-left: 0px;
    padding-top: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .18rem;
}

.kartica-mjesta {
    width: 330px;
    height: 240px;
    background: #fff;
    color: #fff;
    top: 50%;
    left: 0%;
    /*position: absolute;
	transform: translate(-50%, -50%);*/
    box-sizing: border-box;
    padding: 70px 30px;
    opacity: 0.8;
    border-radius: 20px;
    box-shadow: 25px 25px 20px -20px #000;
    margin-top: 50px;
    transform: translate(0%, 0%);
}

    .kartica-mjesta:hover {
        transition: 1s ease;
        border-radius: 2px;
        box-shadow: 30px 30px 10px -10px #000;
        transform: translateY(3px);
    }

.kartica-naslov {
    font-weight: bold;
    position: absolute;
    z-index: 1;
    background: #7cb865;
    opacity: 0.8;
    padding: 10px 15px;
    width: 270px;
    margin-top: -150px;
}

.kartica-slika {
    margin-top: -45px;
    width: 270px;
    height: 150px;
    box-shadow: 5px 5px 5px -5px #000;
}

.kartica-mjesta h1 {
    margin-top: 30px;
    position: absolute;
    z-index: 1;
    color: peachpuff;
    font-size: 15px;
}

.kartica-mjesta a {
    margin-top: 25px;
    float: right;
    text-decoration: none;
    font-size: 15px;
    color: #4f6e3b;
    font-weight: bold;
}

    .kartica-mjesta a:hover {
        cursor: pointer;
    }

.footer {
    text-align: center;
    color: #fff;
    line-height: 20px;
    padding-bottom: 20px;
}

.divider { /* podešavanje dividera */
    width: 600px;
    height: 10px;
    background-color: #7cb865;
    margin: 25px auto;
    margin-bottom: 5px;
}


::-webkit-scrollbar { /* kostumizacija scrollbara */
    width: 10px;
    background-color: #000;
}

::-webkit-scrollbar-thumb { /* kostumizacija crtice */
    border-radius: 15px;
    background-color: #7cb865;
}

.form-input { /* uredjivanje inputa */
    border: none;
    width: 20%;
    background-color: transparent;
    border-bottom: 1px dashed #fff;
    outline: none;
    height: 20px;
    color: #fff;
    font-size: 13px;
    margin: 0px 30px;
    margin-bottom: 5px;
}


.naslov-sastojci {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

    .naslov-sastojci label {
        font-size: 50px;
        font-family: 'Dancing Script';
        color: #fff;
        width: 100%;
    }

    .naslov-sastojci h1 {
        font-size: 10px;
        color: #fff;
    }

.pretraga { /* pozicioniranje cjelokupnog diva za pretragu */
    color: white;
    width:100%;
    text-align: center;
    top: 0;
    left: -400;
    display: inline-block;
 
}

::placeholder {
    color: #ffffff;
}

    .pretraga h4 { /* Uredjivanje naslova */
        font-size: 15px;
        text-shadow: 5px 5px 5px #000;
        font-weight: lighter;
        line-height: 30px;
    }

.pretraga-bar { /* Uredjivanje selecta */
    background: #7cb865;
    padding: 5px;
    border: none;
    box-shadow: 3px 3px 5px #000;
    outline: none;
    color: #fff;

}

    .pretraga-bar:hover {
        transition: 0.5s ease;
        transform: translateY(1px);
        cursor: pointer;
        box-shadow: 5px 5px 5px #000;
    }

.pretraga-btn {
    background: #4f6e3b;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    box-shadow: 3px 3px 5px #000;
    margin-top: 10px;
}

    .pretraga-btn:hover {
        transition: 0.5s ease;
        transform: translateY(1px);
        cursor: pointer;
        box-shadow: 5px 5px 5px #000;
    }
